+++
title = "Comigo"
linkTitle = "Comigo_JP_Main"

+++

{{< blocks/cover title="Comigo：使いやすいコミックリーダー。" image_anchor="top" height="h-25" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-info mr-3 mb-4" href="https://sample.comigo.xyz">
		オンラインデモ <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/yumenaka/comi/releases">
		無料ダウンロード <i class="fab fa-github ml-2 "></i>
	</a>
	<!-- <p class="lead mt-5">モバイル、タブレット、PC、あらゆるプラットフォームに対応!</p> -->
	<!-- {{< blocks/link-down color="info" >}} -->
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
クロスプラットフォーム、単一ファイル、インストール不要。PC、携帯電話、NASでライブラリーを作るなど、様々な方法で楽しむことができます。 すべての機能を、可能な限り**シンプルに**。
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="いいアイデアが浮かんだ？" %}}
欲しい機能、面白いアイデアがある？ お気軽に[ご意見をお寄せください](https://github.com/yumenaka/comi/issues)。

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="一緒にComigoを改善する!" url="https://github.com/yumenaka/comi" %}}
あなたを待っています[Pull Request](https://github.com/yumenaka/comi) 。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="フォーラムで話し合う!" url="https://bbs.saraba1st.com/2b/thread-1955003-1-1.html" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Web版に加え、AndroidとiOSのクライアントも開発中です。 </h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">読書生活の味方。</h1>
</div>

{{< /blocks/section >}}
