+++
title = "Comigo"
linkTitle = "主页"

+++

{{< blocks/cover title="Comigo: 易用的漫画阅读器。" image_anchor="top" height="h-20" color="orange">}}
	<div class="mx-auto">
		<!-- <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		帮助文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a> -->
		<a class="btn btn-lg btn-info mr-3 mb-4" href="http://104.160.32.94:4080">
			在线演示 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/yumenaka/comi/releases">
			免费下载 <i class="fab fa-github ml-2 "></i>
		</a>
		<!-- <p class="lead mt-5">手机、平板、PC，所有平台都能用!</p> -->
		<!-- {{< blocks/link-down color="info" >}} -->
	</div>
	{{< /blocks/cover>}}


		{{% blocks/lead color="primary" %}}
		跨平台、单文件、免安装。PC可以本地看，手机也能扫码读，还可以在NAS上做书库。所有功能，都尽量**简单**。
		{{% /blocks/lead %}}

		{{< blocks/section color="dark">}}
			{{% blocks/feature icon="fa-lightbulb" title="有好点子？" %}}

			有想要的功能，或很好玩的想法？欢迎[提出宝贵建议](https://github.com/yumenaka/comi/issues)。

			{{% /blocks/feature %}}


			{{% blocks/feature icon="fab fa-github" title="一起改进Comigo!" url="https://github.com/yumenaka/comi" %}}
			等待大佬 [Pull Request](https://github.com/yumenaka/comi) ，一起在GitHub点格子。
			{{% /blocks/feature %}}


			{{% blocks/feature icon="fab fa-twitter" title="在论坛讨论!"
			url="https://bbs.saraba1st.com/2b/thread-1955003-1-1.html" %}}
			For announcement of latest features etc.
			{{% /blocks/feature %}}


			{{< /blocks/section>}}


				{{< blocks/section>}}
					<div class="col">
						<h1 class="text-center">除了网页版，安卓、iOS客户端也在开发中。 </h1>
					</div>

					{{< /blocks/section>}}

						{{< blocks/section>}}

							<div class="col-12">
								<h1 class="text-center">阅读生活的好帮手。</h1>
							</div>

							{{< /blocks/section>}}